
* {
	box-sizing: border-box;
}

body {
	font-family: 'Oswald', sans-serif;
	color: #441212;
	padding-top: 203.2px;
	margin: auto;
	
}


a {
	text-decoration: none;
}

img {
	max-width: 100%;
}
.main-header {
	position: fixed;
	box-shadow: 0 1px 4px rgba(0,0,0,.4);
	width: 100%;
	top: 0;
	background: rgb(154, 241, 193);
	margin: auto;
}

.box2,
.goals,
.contact {
	background: #e3dafa;
}
.box2 p {
	width: 100%;
	height: 70px;
	font-size: 18px;
} 
.name {
	font-size: 2.25em;
	margin: 0;
}

.name,
.main-nav a {
	text-align: center;
	display: block;
	padding: 10px 15px;
	
}

.name-bottom,
.bottom-nav a {
	text-align: center;
	display: block;
	padding: 10px 15px;
}

.main-nav a {
	font-size: .95em;
	color: #3a3cb3;
	text-transform: uppercase;
}
.main-nav a:hover {
	color: #867d55;
}


.portfolio {
	padding-top: 50px;
	font-size: 40px;
}

.col {
	padding: 30px;
	border-bottom: 1px solid black;
}

.contact h3 {
	font-size: 30px;
	margin: 0;
}

.intro {
	color: rgb(0, 0, 0);
	padding: 2em;
	margin-bottom: 30px;
	
	
}
.intro p {
	font-size: 20px;
	padding-top: 10px;
}

.main-header,
.intro, 
.main-footer,
.contact,
.col,
.portfolio,
.goals {
	text-align: center;
}
.col {
	padding-left: 1em;
	padding-right: 1em;
}

.main-footer {
	background: rgb(154, 241, 193);
	box-shadow: 0 1px 4px rgba(0,0,0,.4);
}

.contact {
	padding-bottom: 16px;
	padding-top: 16px;
}
.name-bottom {
	float: left;
	padding-left: 1em;
}

.back-to-top {
	float: right;
	padding-right: 1em;
}

.bottom-nav {
	display: none;
}

.goals {
	padding-bottom: 16px;
	padding-top: 16px;
	border-bottom: 1px solid black;
}

ul.skills {
	padding: 0;
	text-align: center;
  }
  
  .skills li {
	border-radius: 6px;
	display: inline-block;
	background: #ff9904;
	color: white;
	padding: 5px 10px;
	margin: 2px;
  }
/* ---- Float clearfix ---- */

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 768px) {

	body {
		margin: auto;
		padding-top: 129.6px;
	}
	.main-header, 
	.main-footer {
		width: 100%;
	}
	.main-nav li {
		display: inline-block;
	}
	.profile-img {
		float: right;
		padding: 30px;
	}
	.intro p {
		width: 70%;
		font-size: 20px;
		padding: 30px;
		text-align: left;
		font-size: 25px;

	}
	.name-bottom {
		float: left;
	}

	.bottom-nav {
		float: right;
		display: block;

	}
	
	.bottom-nav li {
		display: inline-block;
	}

	.back-to-top {
		display: none;
	}

	
	
	.col {
		float: left;
	}

	.article-1,
	.article-2 {
		width: 50%;
	}

	.article-3,
	.article-4 {
		width: 50%;
	}

	.article-5,
	.article-6 {
		width: 50%;
	}

	.contact {
		width: 100%;
	}

}
@media (min-width: 1024px) {

	body {
		margin: auto;
		padding-top: 68.8px;
	}
	.intro p {
		width: 70%;
		font-size: 32px;
		padding: 30px 200px 30px 100px;
		text-align: left;
	}

	.name {
		float: left;
	}

	.main-nav {
		float: right;
	}

	.name-bottom {
		float: left;
	}

	.bottom-nav {
		float: right;
		display: block;
	}
	
	.col {
		float: left;
	}

	.article-1,
	.article-2,
	.article-3 {
	  width: 33.33%;
	  padding-left: 32px;
	  padding-right: 32px;
	}
	
	.article-4,
	.article-5, 
	.article-6 {
	  width: 33.33%;
	  padding-left: 32px;
	  padding-right: 32px;
	}
	.contact {
		width: 100%;
	}
	
	}