
* {
	box-sizing: border-box;
}

body {
	font-family: 'Oswald', sans-serif;
	color: #441212;
}


a {
	text-decoration: none;
}

img {
	max-width: 100%;
}


.name {
	font-size: 2.25em;
	margin: 0;
}

.name,
.main-nav a {
	text-align: center;
	display: block;
	padding: 10px 15px;
}

.main-nav a {
	font-size: .95em;
	color: #171970;
	text-transform: uppercase;
}
.main-nav a:hover {
	color: #c0a114;
}


.portfolio {
	margin-bottom: 50px;
	font-size: 40px;
}

.col {
	padding: 30px;
	border-bottom: 1px solid black;
}

.contact h3 {
	font-size: 30px;
}

.intro,
.main-header {
	color: #fff;
	background: #3acec2;
	padding: 3.2em 0;
	margin-bottom: 60px;
	padding-top: .5em;
	padding-bottom: .5em;
}

.main-header,
.intro, 
.main-footer,
.contact,
.col,
.portfolio {
	text-align: center;
}
.col {
	padding-left: 1em;
	padding-right: 1em;
}

.main-footer, .contact {
	background: #366b88;
	padding: 2em 0;
}

.contact {
	padding-top: 1em;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 768px) {

	.main-nav li {
		display: inline-block;
	}
	.profile-img {
		float: right;
		width;: 30%;
		padding: 30px;
	}
	.intro p {
		width: 70%;
		font-size: 20px;
		padding: 30px;

	}
	.name-bottom {
		float: left;
		padding: 10px;
		font-size: 30px;
	}

	.bottom-nav {
		float: right;
		padding: 20px;
		font-size: 20px;
	}

	.bottom-nav li {
		float: left;
		display: inline-block;
		margin-left: 5px;

	}
	.main-footer {
		border-top: 1px solid black;
	}
	}
	.col {
		float: left;
	}

	.article-1,
	.article-2 {
		width: 50%;
	}

	.article-3,
	.article-4 {
		width: 50%;
	}

	.article-5,
	.article-6 {
		width: 50%;
	}

	.contact {
		width: 100%;
	}

	/* ---- Float clearfix ---- */

	.container::after {
		content: "";
		display: table;
		clear: both;
	}

}
@media (min-width: 1024px) {

	
	.name {
		float: left;
	}

	.main-nav {
		float: right;
	}

	.main-nav li {
		float: left;
	}

	.col {
		float: left;
	}

	.article-1,
	.article-2,
	.article-3 {
	  width: 33%;
	  padding-left: 2em;
	  padding-right: 2em;
	}
	
	.article-4,
	.article-5, 
	.article-6 {
	  width: 33%;
	  padding-left: 2em;
	  padding-right: 2em;
	}
	.contact {
		width: 100%;
	}
	
		/* ---- Float clearfix ---- */
	
		.container::after {
			content: " ";
			display: table;
			clear: both;
		}
	
	}